# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List common libraries for Data Science
* Table with data science tools
* Examples of evaluating arithmetic expressions in python

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Seaborn
3. Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| VS Code            |
| R studio           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
# This a simple arithmetic expression to mutiply then add integers

(3*4) + 5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Pheladi Rachoshi